<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                     
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25782857?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25782859?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25855751?query=java%20Odessa">Senior Java Developer/ElectricAccelerator</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26449338?query=java%20Odessa">Middle C++ Developer (GameDev)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25855706?query=java%20Odessa">Full stack Web Developer / Javascript, PHP</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26397802?query=java%20Odessa">Middle Automation QA (Python)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26397728?query=java%20Odessa">System administrator with English</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26007520?query=java%20Odessa">Senior Cloud DevOps</td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26007578?query=java%20Odessa">Cloud DevOps Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26495869?query=java%20Odessa">Senior Java Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26447997?query=java%20Odessa">Junior Java Developer (Ad Network)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26448861?query=java%20Odessa">Senior Ruby on Rails Developer (product company)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26334040?query=java%20Odessa">Middle QA Automation Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Continuum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25625231?query=java%20Odessa">Senior Java Developer / SaaS</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26334008?query=java%20Odessa">Middle QA Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Continuum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26001703?query=java%20Odessa">Senior Back-end Java Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Slidepresenter GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26257840?query=java%20Odessa">PHP Middle+/Senior Developer (Ad Network)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26027709?query=java%20Odessa">Junior QA Automation engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26028368?query=java%20Odessa">Middle Machine Learning Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Gallantra Business Intelligence</td> 
     <td class="salary">1&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26030919?query=java%20Odessa">AI / Machine Learning Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043364">Тестировщик</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041205">Android-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Alpari</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043360">Mobile Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043334">Программист-аналитик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 40 000 до 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041331">Web разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">NBCom Group</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042473">Python Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043353">Ведущий Java-разработчик (lead)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">CUSTIS</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043352">Java-разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043346">Java разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Open Systems Development</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000024148">Программист Scala/Java</td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038689">Эксперт отдела управления проектами (интеграция на базе IBM)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">НОВАТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043337">Project manager администратор / руководитель / менеджер проектов</td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">VlgDEV</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038240">Программист Python</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043327">Разработчик-исследователь (анализ данных, Python)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043276">Специалист по тестированию ПО (QA engineer)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043316">Senior JAVA Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043296">Программист-разработчик (ученик)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">EME</td> 
     <td class="salary">От 45 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039837">Python | Django разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Relines</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043292">Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043288">Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">RouteRavel</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040352">Тест инженер Windows (Москва, офис)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043272">QA инженер / специалист по ручному тестированию (iOS, android app)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Звук</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043364">Тестировщик</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Центр Финансовых Технологий</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041205">Android-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Alpari</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043360">Mobile Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 60 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043334">Программист-аналитик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary">От 40 000 до 55 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041331">Web разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">NBCom Group</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042473">Python Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034529">Rust разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">KUPIBILET.RU</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043353">Ведущий Java-разработчик (lead)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">CUSTIS</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043352">Java-разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">СДЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040524">Java-разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">ООО "ТехноКад"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043346">Java разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Open Systems Development</td> 
     <td class="salary">От 2 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000024148">Программист Scala/Java</td> 
     <td class="city">Тольятти</td> 
     <td class="companyName">Квартплата 24</td> 
     <td class="salary">От 40 000 до 75 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038689">Эксперт отдела управления проектами (интеграция на базе IBM)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">НОВАТЭК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043337">Project manager администратор / руководитель / менеджер проектов</td> 
     <td class="city">Волгоград</td> 
     <td class="companyName">VlgDEV</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040587">Мобильный разработчик Android</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">OpenSolutions LLC</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038240">Программист Python</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">HR Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043327">Разработчик-исследователь (анализ данных, Python)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043276">Специалист по тестированию ПО (QA engineer)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">НТЦ ПРОТЕЙ</td> 
     <td class="salary">От 40 000 до 60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043316">Senior JAVA Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Home Credit Bank</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043296">Программист-разработчик (ученик)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">EME</td> 
     <td class="salary">От 45 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039837">Python | Django разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">Relines</td> 
     <td class="salary">От 70 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043292">Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043288">Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">RouteRavel</td> 
     <td class="salary">От 80 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040352">Тест инженер Windows (Москва, офис)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043272">QA инженер / специалист по ручному тестированию (iOS, android app)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Звук</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042495">Frontend Developer (JavaScript, React)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">LPTREND</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043268">Инженер DevOps (системный администратор)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Онлайн-кинотеатр ivi</td> 
     <td class="salary">От 120 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043016">Тестировщик</td> 
     <td class="city"></td> 
     <td class="companyName">ИнЭкс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043256">Blockchain разработчик (C++/python/java)</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">ООО «СЕРАФИМ»</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043251">Senior Java Web Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042250">Web-программист разработка на ASP.NET Core2</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Транссеть</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043250">Senior Java/Spring Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043218">Frontend Разработчик / Frontend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TrueNorth</td> 
     <td class="salary">От 180 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043236">Консультант поддержки интеграции</td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043223">iOS developer (удаленная работа)</td> 
     <td class="city"></td> 
     <td class="companyName">idPowers</td> 
     <td class="salary">От 40 000 до 95 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040797">Руководитель группы автотестирования С# (Новосибирск)</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043208">Middleware администратор</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041239">Senior QA Engineer (potentially QA Team Lead)/Старший специалист по тестированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 180 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039968">Java - разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039957">DevOps - Support level 2</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043199">Senior Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">MFMS</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043198">Course Instructor for Fundamental Algorithm and Data Structure</td> 
     <td class="city">Бандунг</td> 
     <td class="companyName">DigiNext</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043152">Тестировщик / QA Engineer</td> 
     <td class="city"></td> 
     <td class="companyName">AppFollow</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043193">Ведущий разработчик Java</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">От 90 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043192">Devops инженер</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Компания БКС</td> 
     <td class="salary">До 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043156">Frontend: JavaScript (Vue)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">EVEN Foundation</td> 
     <td class="salary">От 110 000 до 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043178">Senior Android разработчик в калифорнийский стартап</td> 
     <td class="city"></td> 
     <td class="companyName">Cheeze Inc.</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042017">Senior / middle Java Developer (RnD)</td> 
     <td class="city"></td> 
     <td class="companyName">Nexign</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000035938">Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000031193">Разработчик MiddleWare (Ruby)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МаксимаТелеком</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042353">PHP Developer</td> 
     <td class="city">Тула</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042355">Java Developer</td> 
     <td class="city">Тула</td> 
     <td class="companyName">Vigrom</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043163">Senior PHP back-end developer (Symfony, Yii2)</td> 
     <td class="city"></td> 
     <td class="companyName">Diffco</td> 
     <td class="salary">От 90 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043128">Frontend-разработчик Vue</td> 
     <td class="city">Красноярск</td> 
     <td class="companyName">ООО "Цитрум"</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043158">Андроид разработчик (Android developer)</td> 
     <td class="city"></td> 
     <td class="companyName">TIM</td> 
     <td class="salary">От 150 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043151">PHP разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">“N T”</td> 
     <td class="salary">От 100 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037821">Front-end Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Wrike</td> 
     <td class="salary">От 170 000 до 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042356">PHP Разработчик/ PHP Developer (Web Applications)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Hemmersbach</td> 
     <td class="salary">От 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037257">Senior ​​​​​​​Front-end Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary">От 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043146">Программист C#</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">ZennoLab</td> 
     <td class="salary">От 40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042298">Android Team Lead</td> 
     <td class="city">Ростов-на-Дону</td> 
     <td class="companyName">TradingView</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043140">Android-разработчик</td> 
     <td class="city"></td> 
     <td class="companyName">iSimpleLab</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043125">Web-разработчик (Full Stack)</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">ОАО "Новосибирскэнергосбыт"</td> 
     <td class="salary">От 56 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040022">Java-разработчик</td> 
     <td class="city">Омск</td> 
     <td class="companyName">Райффайзенбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040441">Javascript разработчик (React)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043091">Java-разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Элемент 5</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043083">Frontend-разработчик (React JS)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Деловая среда от Сбербанка</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042967">Разработчик back-end</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Севергрупп Медицина</td> 
     <td class="salary">До 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043064">Senior Backend Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">HARMAN Connected Services</td> 
     <td class="salary">От 100 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043062">React / redux front end developer</td> 
     <td class="city"></td> 
     <td class="companyName">Betmeup</td> 
     <td class="salary">От 140 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043042">Senior Frontend Developer (React)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">SEMrush</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043056">PHP Team Lead</td> 
     <td class="city"></td> 
     <td class="companyName">BeeJee</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043037">Java-разработчик</td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Konig Labs</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042834">Java Developer</td> 
     <td class="city">Минск</td> 
     <td class="companyName">ID Finance</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042892">QA Automation Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">FactoryMarket</td> 
     <td class="salary">От 150 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041129">Преподаватель вебинаров по программированию</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Mail.Ru Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040643">Senior Unity Developer (R&amp;D)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Pixonic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043011">Java разработчик</td> 
     <td class="city">Тверь</td> 
     <td class="companyName">iSimpleLab</td> 
     <td class="salary">От 40 000 до 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000043010">Senior Front-End Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ITigris</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000030711">Java SuperDeveloper</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">JarSoft</td> 
     <td class="salary">От 100 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040838">Инженер по автоматизации (DevOps)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">АйТиЭм Холдинг</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040628">Back-End Web Developer (Java)</td> 
     <td class="city"></td> 
     <td class="companyName">Soshace</td> 
     <td class="salary">От 200 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042983">IT Recruiter</td> 
     <td class="city"></td> 
     <td class="companyName">CODEFATHER</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042981">Руководитель группы разработки мобильных приложений</td> 
     <td class="city">Пермь</td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">От 100 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042866">Front-end developer</td> 
     <td class="city">Омск</td> 
     <td class="companyName">NEOLAB</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037915">Architect (Machine Learning)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Crystal Service Integration</td> 
     <td class="salary">От 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042961">Разработчик-эксперт Liferay</td> 
     <td class="city"></td> 
     <td class="companyName">DartIT</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042957">Java Swing Developer</td> 
     <td class="city"></td> 
     <td class="companyName">Spice IT Recruitment</td> 
     <td class="salary">От 120 000 до 250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000037889">Инженер по автоматизации тестирования</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042955">Разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">WEBINAR</td> 
     <td class="salary">От 120 000 до 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000033112">Angular/Nodejs разработчик</td> 
     <td class="city">Химки</td> 
     <td class="companyName">Корнерстоун</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042952">PHP-программист Yii (возможна удаленка)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Max.Credit</td> 
     <td class="salary">От 100 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042898">Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042899">Senior Data Engineer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">ПАО Сбербанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042932">JAVA-developer</td> 
     <td class="city">Бонн</td> 
     <td class="companyName">Dr. Windel &amp; Partner</td> 
     <td class="salary">От 160 000 до 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042187">Android developer</td> 
     <td class="city">Оренбург</td> 
     <td class="companyName">Blogman</td> 
     <td class="salary">От 20 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042922">Team Lead команды Back-end разработки (python/java)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Кадровое агентство «ВИЗАВИ Консалт»</td> 
     <td class="salary">От 230 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000011498">Инженер по тестированию (QA)</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">4xxi</td> 
     <td class="salary">От 40 000 до 70 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042914">Senior Android Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042889">Senior Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Лаборатория Касперского</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042885">Senior Web Developer</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041182">React Native developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">STORIQA LTD</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042884">Старший разработчик Android</td> 
     <td class="city">Москва</td> 
     <td class="companyName">X5 Retail Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042878">Ведущий Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">МТС</td> 
     <td class="salary">До 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042869">Remote Android Developer</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Bot M.D.</td> 
     <td class="salary">До 2 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042138">Senior/Middle Golang developer</td> 
     <td class="city">Рига</td> 
     <td class="companyName">OpenWeatherMap</td> 
     <td class="salary">От 2 000 до 3 000 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041814">Senior Backend Developer</td> 
     <td class="city">Пенза</td> 
     <td class="companyName">АйДаПрикол</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034150">Бэкенд-разработчик (Ruby on Rails)</td> 
     <td class="city"></td> 
     <td class="companyName">FunBox</td> 
     <td class="salary">От 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042849">Sales Engineer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">InterSystems Corporation</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042836">Android разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042835">IOS разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040809">Java/Spring developer</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">App-Smart</td> 
     <td class="salary">От 1 200 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042832">Разработчик Oracle\Delphi</td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034512">Data Scientist</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042025">Data Engineer</td> 
     <td class="city">Краснодар</td> 
     <td class="companyName">PLARIUM</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042826">Full Stack Developer (Java, Javascript)</td> 
     <td class="city"></td> 
     <td class="companyName">Adiq</td> 
     <td class="salary">От 2 400 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042814">Senior Android developer (IoT)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042813">Senior Java developer (IoT)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Kelly Services</td> 
     <td class="salary">От 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042812">Архитектор Java (Pega)</td> 
     <td class="city">Москва</td> 
     <td class="companyName">UseTech Integration</td> 
     <td class="salary">От 190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042804">Systems Analyst</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042803">Junior Java Developer</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Сбербанк-Технологии</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042802">Android разработчик</td> 
     <td class="city">Нижний Новгород</td> 
     <td class="companyName">Транссеть</td> 
     <td class="salary">От 50 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042796">Team Lead / Архитектор</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Topface</td> 
     <td class="salary">От 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041775">Java-разработчик</td> 
     <td class="city">Казань</td> 
     <td class="companyName">ООО "Дайком Консалтинг"</td> 
     <td class="salary">От 80 000 до 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042788">Senior Java-разработчик</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Маркет Плато</td> 
     <td class="salary">От 200 000 до 300 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042770">Архитектор Java</td> 
     <td class="city"></td> 
     <td class="companyName">StrataTech</td> 
     <td class="salary">От 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000034043">Senior Frontend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Carggo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042735">Lead / Senior Backend Developer (Java)</td> 
     <td class="city">Барселона</td> 
     <td class="companyName">B4Finance</td> 
     <td class="salary">От 2 900 до 3 700 eur.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041946">Java-Developer /разработчик</td> 
     <td class="city">Орел</td> 
     <td class="companyName">SENLA</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042747">Senior Android Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Development Ltd</td> 
     <td class="salary">От 3 000 до 5 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042751">Senior / Middle QA</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Smart Development Ltd</td> 
     <td class="salary">От 2 000 до 3 500 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042744">Ведущий инженер по тестированию, QA Team Lead, Head QA Engineering Jobs</td> 
     <td class="city">Санкт-Петербург</td> 
     <td class="companyName">Корона Авто, ООО</td> 
     <td class="salary">От 120 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042742">Full Stack .Net Software Engineer</td> 
     <td class="city"></td> 
     <td class="companyName">Nitka Technologies, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042740">Руководитель группы сопровождения сервисных систем</td> 
     <td class="city"></td> 
     <td class="companyName">ИНВИТРО</td> 
     <td class="salary">От 89 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042739">Middle / Senior Java Developer</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Tinkoff.ru</td> 
     <td class="salary">От 90 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042730">Бэк-энд разработчик Java</td> 
     <td class="city">Москва</td> 
     <td class="companyName">PFL Advisors</td> 
     <td class="salary">От 90 000 до 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042726">Разработчик Java/Kotlin</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042718">Android разработчик</td> 
     <td class="city">Киев</td> 
     <td class="companyName">LiteBox</td> 
     <td class="salary">До 3 000 usd.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042714">Тестировщик-автоматизатор</td> 
     <td class="city"></td> 
     <td class="companyName">Devprom Software</td> 
     <td class="salary">От 60 000 до 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000032582">Automation QA Engineer</td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 110 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042713">Junior Java developer (стажер)</td> 
     <td class="city">Томск</td> 
     <td class="companyName">Sidenis</td> 
     <td class="salary">До 25 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042712">Разработчик Ruby</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 150 000 до 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038033">Frontend разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">СофтТелематика</td> 
     <td class="salary">От 120 000 до 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000026082">Разработчик мобильных приложений (Android)</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Точка - банк для предпринимателей</td> 
     <td class="salary">До 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000038735">System Administrator / DevOps</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 120 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042675">Java Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TWINO Group</td> 
     <td class="salary">До 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042666">Специалист технической поддержки баз и сервисов</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Alpari</td> 
     <td class="salary">От 110 000 до 130 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000039119">Android developer</td> 
     <td class="city">Новосибирск</td> 
     <td class="companyName">Siberian.pro</td> 
     <td class="salary">От 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000041352">Программист С#/.NET/ASP.NET</td> 
     <td class="city">Калининград</td> 
     <td class="companyName">Virtoway</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040921">Java Backend Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000040366">JS Developer</td> 
     <td class="city">Москва</td> 
     <td class="companyName">TraceAir</td> 
     <td class="salary">От 160 000 до 200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042642">Главный frontend- разработчик</td> 
     <td class="city">Москва</td> 
     <td class="companyName">Почта Банк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042532">Front-end (Full-stack) разработчик</td> 
     <td class="city">Воронеж</td> 
     <td class="companyName">NeuroCity</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000036841">Java разработчик (Middle)</td> 
     <td class="city">Казань</td> 
     <td class="companyName">Ай-Новус</td> 
     <td class="salary">До 80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://moikrug.ru/vacancies/1000042204">Опытный Java-разработчик</td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">СКБ Контур</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>