<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody>
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>   
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25782857?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25782859?query=java%20Odessa">Senior Java Engineer</td> 
     <td class="city">Киев</td> 
     <td class="companyName">ООО RevJet</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25855751?query=java%20Odessa">Senior Java Developer/ElectricAccelerator</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26449338?query=java%20Odessa">Middle C++ Developer (GameDev)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Nordcurrent Odessa</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25855706?query=java%20Odessa">Full stack Web Developer / Javascript, PHP</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26397802?query=java%20Odessa">Middle Automation QA (Python)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26397728?query=java%20Odessa">System administrator with English</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Luxoft</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26007520?query=java%20Odessa">Senior Cloud DevOps</td> 
     <td class="city">Киев, Политехнический институт</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26007578?query=java%20Odessa">Cloud DevOps Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Инфопульс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26495869?query=java%20Odessa">Senior Java Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Metricly</td> 
     <td class="salary">4&nbsp;000-5&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26447997?query=java%20Odessa">Junior Java Developer (Ad Network)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26448861?query=java%20Odessa">Senior Ruby on Rails Developer (product company)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26334040?query=java%20Odessa">Middle QA Automation Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Continuum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/25625231?query=java%20Odessa">Senior Java Developer / SaaS</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26334008?query=java%20Odessa">Middle QA Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ООО Continuum</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26001703?query=java%20Odessa">Senior Back-end Java Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Slidepresenter GmbH</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26257840?query=java%20Odessa">PHP Middle+/Senior Developer (Ad Network)</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП MobsterAgency</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26027709?query=java%20Odessa">Junior QA Automation engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП ElectricCloud</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26028368?query=java%20Odessa">Middle Machine Learning Engineer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">ИП Gallantra Business Intelligence</td> 
     <td class="salary">1&nbsp;500-3&nbsp;000 USD</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title" href="https://mukachevo.hh.ua/vacancy/26030919?query=java%20Odessa">AI / Machine Learning Developer</td> 
     <td class="city">Одесса</td> 
     <td class="companyName">Livegenic</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody>
  </table>  
 </body>
</html>